<?xml version='1.0' encoding='utf-8'?>
<widget id="im.goel.zipup" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ZipUp</name>
    <description>
        Yelp for bathrooms. Helping your business go down.
    </description>
    <author email="karan@goel.im" href="http://www.goel.im">
        Karan Goel, Jeff Pyke
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.Device" />
    </feature>
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
</widget>
